.img-box{
	position: relative;
	width:25%;
	float:left;
	background-repeat:no-repeat;
	background-image: url('/photos/1.jpg');
}

.img-box:before {
    content: "";
    display: block;
    padding-top: 100%;     /* initial ratio of 1:1*/
}

.img-box img {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}