.img-box{
	width:100%;
	height:inherit;
}


.photo_li{
	display:inline-block;
	width:25%;
	list-style-type:none;
}

.photo_li::before{
	display:none!important;
}

.photo_li_mob{
	display:inline-block;
	width:50%;
	list-style-type:none;
}

.photo_li_mob::before{
	display:none!important;
}

.header-music {
	margin-top:-80px;
}

a{
  cursor:pointer;
}